################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FullMetalLibrary/.vs/FullMetalLibrary/copilot-chat/6f72c817/sessions
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/15d56938-cea3-42f1-8415-3997c3b8eae8.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/6e391c27-ccea-47d2-bb46-1e02f766a74f.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/7229bdc9-ba47-409e-837f-064ceb65d9e2.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/a264be30-1d2e-4525-a5db-ae0ca8bb652a.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/afa4a3f9-e989-4db3-8c5f-e4da81a4154c.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/b54bc875-9876-4d6f-b326-6c6c36900974.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/c93b8a25-af34-4163-89f4-d969603bbc26.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/FileContentIndex/d5a159d7-8654-4d80-b74c-8179a88b37b4.vsidx
/FullMetalLibrary/.vs/FullMetalLibrary/v17/DocumentLayout.backup.json
/FullMetalLibrary/.vs/ProjectEvaluation/fullmetallibrary.metadata.v7.bin
/FullMetalLibrary/.vs/ProjectEvaluation/fullmetallibrary.projects.v7.bin
/FullMetalLibrary/.vs/ProjectEvaluation/fullmetallibrary.strings.v9.bin
/FullMetalLibrary/bin/Debug/net8.0/FullMetalLibrary.staticwebassets.endpoints.json
/FullMetalLibrary/.vs/FullMetalLibrary/CopilotIndices/17.14.1091.29919/CodeChunks.db
/FullMetalLibrary/.vs/FullMetalLibrary/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/FullMetalLibrary/obj/Debug/net8.0/FullMetalLibrary.AssemblyInfoInputs.cache
/FullMetalLibrary/obj/Debug/net8.0/FullMetalLibrary.csproj.CoreCompileInputs.cache
/FullMetalLibrary/obj/Debug/net8.0/FullMetalLibrary.csproj.FileListAbsolute.txt
/FullMetalLibrary/obj/Debug/net8.0/rjimswa.dswa.cache.json
/FullMetalLibrary/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/FullMetalLibrary/obj/Debug/net8.0/rpswa.dswa.cache.json
/FullMetalLibrary/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/FullMetalLibrary/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/FullMetalLibrary/obj/Debug/net8.0/staticwebassets.build.json.cache
/FullMetalLibrary/obj/Debug/net8.0/FullMetalLibrary.sourcelink.json
/FullMetalLibrary/obj/Debug/net8.0/FullMetalLibrary.AssemblyInfo.cs
